{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1>Bienvenue sur NotaResto</h1>
        <h2 class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
    </div>

    <hr>

    <h3>Nos séléctions :</h3>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Les burgers de tonton
                </div>
                <div class="card-body">
                    <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</em>
                </div>
                <div class="card-footer">
                    <small>Noté <strong>4.5/5</strong> par nos utilisateurs</small>
                    <a href="#" class="btn btn-sm btn-primary float-right">Voir</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Les burgers de tonton
                </div>
                <div class="card-body">
                    <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</em>
                </div>
                <div class="card-footer">
                    <small>Noté <strong>4.5/5</strong> par nos utilisateurs</small>
                    <a href="#" class="btn btn-sm btn-primary float-right">Voir</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Les burgers de tonton
                </div>
                <div class="card-body">
                    <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</em>
                </div>
                <div class="card-footer">
                    <small>Noté <strong>4.5/5</strong> par nos utilisateurs</small>
                    <a href="#" class="btn btn-sm btn-primary float-right">Voir</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
